<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gf</key>
	<dict>
		<key>description</key>
		<string>广发银行：使用预留手机编辑“400+卡号末四位”发送至95508</string>
		<key>prefix</key>
		<string>400+</string>
		<key>number</key>
		<string>95508</string>
	</dict>
	<key>gd</key>
	<dict>
		<key>description</key>
		<string>光大银行：(待定，注意，后面的不能用)使用预留手机编辑“YE+卡号末四位”发送至106902895577</string>
		<key>prefix</key>
		<string>YE+</string>
		<key>number</key>
		<string>106902895577</string>
	</dict>
	<key>xy</key>
	<dict>
		<key>description</key>
		<string>兴业银行：(待定，注意，后面的不能用)使用预留手机编辑“YE+卡号末四位”发送至106902895577</string>
		<key>prefix</key>
		<string>YE+</string>
		<key>number</key>
		<string>106902895577</string>
	</dict>
	<key>zg</key>
	<dict>
		<key>description</key>
		<string>中国银行：使用预留手机编辑“1#+卡号末四位”发送至95566</string>
		<key>prefix</key>
		<string>1#+</string>
		<key>number</key>
		<string>95566</string>
	</dict>
	<key>jt</key>
	<dict>
		<key>description</key>
		<string>交通银行：使用预留手机编辑“CC额度#+卡号末四位”发送至95559</string>
		<key>prefix</key>
		<string>CC额度#+</string>
		<key>number</key>
		<string>95559</string>
	</dict>
	<key>zs</key>
	<dict>
		<key>description</key>
		<string>招商银行：使用预留手机编辑“#ED”发送至95555（联通、电信用户）或1065795555（移动用户）</string>
		<key>prefix</key>
		<string>#ED</string>
		<key>number</key>
		<string>95555</string>
	</dict>
	<key>zx</key>
	<dict>
		<key>description</key>
		<string>中信银行：使用预留手机编辑“YE+卡号末四位”发送至106980095558</string>
		<key>prefix</key>
		<string>YE+</string>
		<key>number</key>
		<string>106980095558</string>
	</dict>
	<key>hx</key>
	<dict>
		<key>description</key>
		<string>华夏银行：使用预留手机编辑“YE+卡号末四位”发送至106902895577</string>
		<key>prefix</key>
		<string>YE+</string>
		<key>number</key>
		<string>106902895577</string>
	</dict>
	<key>ms</key>
	<dict>
		<key>description</key>
		<string>民生银行：暂无</string>
		<key>prefix</key>
		<string>暂无</string>
		<key>number</key>
		<string>暂无</string>
	</dict>
</dict>
</plist>
